@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(15deg, var(--clr-main-light), var(--clr-main));
    padding: 2rem;
}

.regresarBtn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    margin: 1rem;
}

.regresarBtn:hover {
    background-color: var(--clr-red);
}

.contenedor-informacion {
    margin: 2rem;
    text-align: center;
}

.container {
    padding: 1rem;
    background: white;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 1rem;
    border-bottom: 1px solid;
    text-align: center;
}

table img {
    width: 100px;
    height: auto;
}

.container-comentarios h2 {
    text-align: center;
}

.espacio-comentarios {
    padding: 1rem;
}

.mt-3{
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.mt-3:hover {
    background-color: var(--clr-red);
}