/* Estilo para los comentarios */
.container-comentarios {
    margin-top: 20px;
}

.espacio-comentarios {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.form-floating {
    margin-bottom: 10px;
}

/* Estilo para las im치genes */
.img-producto {
    max-width: 100%;
    height: auto;
}

.regresar {
<<<<<<< Updated upstream
    text-align: center;
    margin-top: 30px;
}

.regresarBtn {
    background-color: var(--clr-main-light);
    color: var(--clr-white);
=======
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.regresarBtn {
    background-color: #ff6600; /* Color anaranjado */
    color: black; /* Texto en negro para resaltar */
>>>>>>> Stashed changes
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
<<<<<<< Updated upstream
    font-weight: bold;
    text-decoration: none;
}

.regresarBtn:hover {
    background-color: var(--clr-red);
}
=======
    transition: background-color 0.3s ease; /* Transici칩n suave */
}

.regresarBtn:hover {
    background-color: #ff9000; /* Anaranjado m치s claro al pasar el rat칩n */
}

.disenoP-imagen{
    width: 300px; /* Ancho de la imagen */
    height: auto; /* Alto de la imagen */
    max-width: 100%;
    border-radius: 1rem;
}
>>>>>>> Stashed changes
