/* Estilo para los comentarios */
.container-comentarios {
    margin-top: 20px;
}

.espacio-comentarios {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.form-floating {
    margin-bottom: 10px;
}

/* Estilo para las imágenes */
.img-producto {
    max-width: 100%;
    height: auto;
}

.regresar {
    text-align: center;
    margin-top: 30px;
}

.regresarBtn {
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-decoration: none;
}

.regresarBtn:hover {
    background-color: var(--clr-red);
}