@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

.regresar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.regresarBtn {
    background-color: var(--clr-main-light); 
    color: var(--clr-main); 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; /* Transición suave */
}

.regresarBtn:hover {
    background-color: #ff9000; /* Anaranjado más claro al pasar el ratón */
}

body {
    background: linear-gradient(15deg, var(--clr-main), var(--clr-main-light));
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;    
}

.disenoP {
    background-color: var(--clr-gray);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.contenedor-disenosP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.h1 {
    margin: 0;
    font-size: 24px;
    color: var(--clr-main);
}

