:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(15deg, var(--clr-main-light), var(--clr-main));
}

.container {
    max-width: 500px;
    margin: 50px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background: var(--clr-gray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    margin-top: 20px;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    background-color: #ff6600;
    color: white;
}

/* Optional: Adjust input file appearance */
.form-control[type="file"] {
    overflow: hidden;
    border-radius: 30px;
    padding: 10px;
}

.input-file-label {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-file-label:hover {
    background-color: #0056b3;
}

.regresar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.regresarBtn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.regresarBtn:hover {
    background-color: orangered;
}