@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(20deg, var(--clr-main-light), var(--clr-main));
    margin: 0;
    padding: 2rem;
    color: var(--clr-white);
    font-family: Arial, sans-serif;
}

.regresar {
    position: absolute;
    top: 20px; /* Aumenta el espacio desde la parte superior */
    right: 20px;
}

.regresarBtn {
    background-color: black;
    color: var(--clr-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.regresarBtn:hover {
    background-color: var(--clr-red);
}

.contenedor-informacion,
.contenedor-informacion-productos {
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--clr-white);
    border-radius: 10px;
    text-align: center;
    color: var(--clr-main); 
}

table {
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
}

th, td {
    padding: 1rem;
    border: 1px solid var(--clr-main);
}

th {
    background-color: var(--clr-main);
    color: var(--clr-white);
}