@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}
/* Estilos para el botón de regresar */
.regresar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.regresarBtn {
    background-color: #ff6600; /* Color anaranjado */
    color: black; /* Texto en negro para resaltar */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; /* Transición suave */
}

.regresarBtn:hover {
    background-color: #ff9000; /* Anaranjado más claro al pasar el ratón */
}

.orden .boton-info {
    grid-column: span 2;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el cuerpo de la página */
body {
    background: linear-gradient(20deg, var(--clr-main-light), var(--clr-main));
}

/* Estilos para las órdenes */
.orden {
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.orden h3, .orden p {
    margin: 0;
}

.boton-ver-mas {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.boton-ver-mas:hover {
    background-color: #ff9000;
}

.contenedor-orden{
    background-color: white;
}