@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

body {
    padding: 2rem;
    background: linear-gradient(20deg, var(--clr-main-light), var(--clr-main));
}

.boton-filtro {
    margin: 1rem;
}

/* Estilos para el botón de regresar */
.regresar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.regresarBtn {
    background-color: #ff6600; /* Color anaranjado */
    color: white; /* Texto en negro para resaltar */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; /* Transición suave */
}

.regresarBtn:hover {
    background-color: #ff9000; /* Anaranjado más claro al pasar el ratón */
}

.boton-ver-mas {
    background-color: #ff6600;
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.boton-ver-mas:hover {
    background-color: #ff9000;
}

.contenedor-orden{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

table td, table th {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid;
}