/* Estilos para el botón de regresar */
.regresar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.regresarBtn {
    background-color: #ff6600; /* Color anaranjado */
    color: black; /* Texto en negro para resaltar */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; /* Transición suave */
}

.regresarBtn:hover {
    background-color: #ff9000; /* Anaranjado más claro al pasar el ratón */
}

.orden .boton-info {
    grid-column: span 2;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el cuerpo de la página */
body {
    background-color: #f8f8f8; /* Fondo gris claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1a1a1a; /* Texto negro */
    margin: 0;
    padding-bottom: 60px;
}

/* Estilos para las órdenes */
.orden {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.orden h3, .orden p {
    margin: 0;
}

.boton-ver-mas {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.boton-ver-mas:hover {
    background-color: #ff9000;
}