/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el nav principal */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px; /* Aumentar el padding para un mejor espacio */
}

/* Estilos para la lista de opciones inicio, sobre nosotros, contacto, carrito */
.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    padding: 20px;
    justify-content: center; /* Centrar los elementos del menú */
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.nav-menu li a:hover {
    background-color: #ff6600;
}

/* Estilo para el boton de login */
.login-container {
    margin-left: auto; /* Mover el contenedor de login a la derecha */
}

.login-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff6600;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.login-link:hover {
    background-color: #e65c00;
    transform: scale(1.05); /* Animación de botón de login */
}

/* Estilos para el main */
main {
    display: flex;
    flex-direction: row; /* Establecer la dirección de los elementos hijos */
    height: 100vh; /* Hacer que el main ocupe toda la altura de la ventana */
}

/* Estilos para el aside */
aside {
    background-color: #333;
    width: 200px; /* Definir el ancho del aside */
    flex: 0 0 auto; /* No permitir que el aside crezca o se encoja */
}

/* Estilos para la barra de busqueda */
.categorys {
    list-style: none;
    padding: 0;
    margin: 0;
}

.boton-categoria {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transiciones suaves */
}

.boton-categoria:hover {
    background-color: #555;
}

.active {
    background-color: #555;
}

/* Estilos para el product-section */
.product-section {
    flex: 1;
    padding: 20px;
    border-left: 4px solid #ff6600;
    border-top: 4px solid #ff6600;
}

.product-section .principal-tittle {
    font-size: 24px; /* Tamaño de fuente para el título principal */
    margin-bottom: 20px; /* Espaciado inferior para separar el título de la cuadrícula de productos */
}

.product-section .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-section .product-grid > * {
    background-color: #ffffff; /* Color de fondo para los elementos */
    padding: 15px; /* Espaciado interno para los elementos */
    border-radius: 8px; /* Añadir bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar los elementos */
}

/* Optimización para dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .login-container {
        margin: 20px 0;
    }
    .nav-menu li {
        margin: 10px 0;
    }
}
