/*.producto-info {
    display: flex;
    align-items: flex-start;
}

.producto-imagen {
    max-width: 100px;
    flex-shrink: 0; 
    margin-right: 20px;
}

.producto-detalles {
    flex: 1; 
}*/
