:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(15deg, var(--clr-main-light), var(--clr-main));
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: white;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.cedula,
.email,
.username,
.contrasena {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.cedula input,
.email input,
.username input,
.contrasena input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.cedula label,
.email label,
.username label,
.contrasena label {
    position: absolute;
    top: -25%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.cedula input:focus ~ label,
.email input:focus ~ label,
.username input:focus ~ label,
.contrasena input:focus ~ label {
    top: -5px;
    color: #6c3483;
}

.recordar {
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #ff6600;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    outline: none;
}

input:hover {
    border-color: orangered;
    transition: .5s;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a {
    color: blue;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}

.btn-iniciar-sesion{
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-iniciar-sesion:hover{
    background-color: var(--clr-red);
}

.btnregistrar {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    background-color: var(--clr-main-light);
    border-radius: 25px;
    font-size: 18px;
    color: var(--clr-white);
    cursor: pointer;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

.btnregistrar:hover{
    background-color: var(--clr-red);
}

.btn-recuperarContraseña{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    background: var(--clr-main-light);
    border-radius: 25px;
    font-size: 18px;
    color: var(--clr-white);
    cursor: pointer;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

.btn-recuperarContraseña:hover{
    background-color: var(--clr-red);
}

.regresar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.regresarBtn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.regresarBtn:hover {
    background-color: orangered;
}

