.regresar {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.regresarBtn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.regresarBtn:hover {
    background-color: orangered;
}

.bordered-box {
    border: 2px solid #ccc; /* Color y grosor del borde */
    padding: 20px; /* Espacio interno entre el contenido y el borde */
    border-radius: 10px; /* Radio de las esquinas del borde */
    width: 400px; /* Ancho del rectángulo */
    margin: 0 0; /* Centrar lado izquierdo */
}

.orden-detalles {
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
}

.container-nombre,
.container-apellido,
.container-telefono,
.container-direccion,
.container-referencias,
.container-codigo-postal,
.container-ciudad,
.container-modalidad-entrega,
.container-fecha {
    margin-bottom: 5px; /* Espacio entre cada campo */
}

h4 {
    margin: 0; /* Eliminar márgenes predeterminados */
    font-weight: bold; /* Hacer el texto en negrita */
}