body {
    background:linear-gradient(15deg, #F78B34, #090400);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

aside {
    padding: 1rem;
    justify-content: space-between;
    border-spacing: 1rem; 
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F78B34;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.input-search,
.button-search-id,
.button-search-nombre {
    background-color: beige;
}

.regresar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.regresarBtn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.regresarBtn:hover {
    background-color: orangered;
}