/* Variables de color */
:root {
    --clr-main: #000;
    --clr-main-light: #ff6600;
    --clr-white: #ececec;
    --clr-silver: #adadad;
    --clr-orangered: #ff4500;
}

/* Estilos generales del cuerpo */
body {
    margin: auto;
    padding: 30px;
    font-family: sans-serif;
    background: linear-gradient(20deg, var(--clr-main-light), var(--clr-main));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los títulos */
h1,
h2 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* Estilos para el botón de regresar */
.regresar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.regresarBtn {
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.regresarBtn:hover {
    background-color: var(--clr-orangered);
}

/* Estilos para el botón de crear */
.botonCrear {
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    border: none;
    margin: 20px auto;
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    display: block;
}

.botonCrear:hover {
    background-color: var(--clr-orangered);
}

.btn-primary{
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}
 .btn-primary{
    background-color: var(--clr-orangered);
 }

/* Estilos para el contenedor principal */
.container {
    max-width: auto;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px rgba(0, 0, 0, 0.1);
}

.container h1 {
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--clr-silver);
}

.container form {
    padding: 0 30px;
    box-sizing: border-box;
}

/* Estilos para los contenedores de nombre, descripción y precio */
.nombre,
.descripcion,
.precio {
    position: relative;
    border-bottom: 2px solid var(--clr-silver);
    margin: 20px 0;
}

/* Estilos para los inputs de nombre, descripción y precio */
.nombre input,
.descripcion input,
.precio input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/* Estilos para los labels de nombre, descripción y precio */
.nombre label,
.descripcion label,
.precio label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: var(--clr-silver);
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

/* Estilos para los inputs enfocados */
.nombre input:focus ~ label,
.descripcion input:focus ~ label,
.precio input:focus ~ label {
    top: -5px;
    color: var(--clr-main-light);
}

/* Estilos para los inputs con contenido */
.nombre input:not(:placeholder-shown) + label,
.descripcion input:not(:placeholder-shown) + label,
.precio input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 14px;
}

/* Estilos para la línea debajo del label */
.nombre span::before,
.descripcion span::before,
.precio span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--clr-main-light);
    transition: .5s;
}

/* Estilos para la línea debajo del label cuando el input está enfocado */
.nombre input:focus ~ span::before,
.descripcion input:focus ~ span::before,
.precio input:focus ~ span::before {
    width: 100%;
}

.talla{
    margin: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cantidad {
    width: 80px;
    margin-left: 10px;
}

.talla input{
    width: 20px;
    padding: 5px;
    margin-right: 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.talla span::before {
    width: 100%;
    padding: 10px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    position: relative;
    z-index: 1;
}

.talla label {
    position: relative;
    top: -20px;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.talla input:focus ~ label {
    top: -5px;
    color: var(--clr-main);
}

.talla input:focus ~ span::before {
    width: 100%;
}

.link-imagen{
    position: relative;
    border-bottom: 2px solid var(--clr-silver);
    margin: 20px 0;
}

.link-imagen input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.link-imagen label{
    position: relative;
    top: -25%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.link-imagen span::before {
    width: 100%;
    padding: 10px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    position: relative;
    z-index: 1;
}

.link-imagen input:focus ~ label {
    top: -5px;
    color: var(--clr-main);
}

.link-imagen input:focus ~ span::before {
    width: 100%;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    width: 50%; /* Cambiado el ancho al 50% para centrarlo */
    margin: 0 auto; /* Centrar horizontalmente */
    height: 50px;
    border: 1px solid;
    background: var(--clr-main-light);
    border-radius: 25px;
    font-size: 16px;
    color: var(--clr-white);
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: var(--clr-orangered);
    transition: .5s;
}



/* Estilos para los dropdowns */
.dropdown {
    position: relative;
    display: inline-block;
}

.buscar{
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    margin-bottom: 20px;
    text-align: center;
    margin: 20px;
}

.buscar input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--clr-silver);
    border-radius: 20px; /* Hacer los bordes más redondeados */
    outline: none;
}

.buscar input:focus {
    border-color: var(--clr-main-light);
}

.buscar button {
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    border: none;
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s; 
}

.buscar button:hover {
    background-color: var(--clr-orangered);
}


.formBuscarArticulo{
    display: inline-block;
}
